
.cell {
    float: left;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
}

.cell img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.selected {
    outline: 5px dashed #0086b3;
    box-sizing: border-box;
}
